@import "tailwindcss";
@import "./typography.css" layer(components);

:root {
  color-scheme: light dark;
}
.dark {
  color-scheme: dark;
}
.light {
  color-scheme: light;
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@theme {
  --color-bg: rgb(255 255 240);
  --color-link: rgb(87 144 14);
  --color-muted-text: rgb(131 191 56);

  --color-dark-bg: rgb(42 40 36);
  --color-dark-link: rgb(255 199 233);
  --color-dark-muted-text: rgb(226 138 190)
}

@theme inline {
  --font-sans: var(--font-roboto-slab);
	--font-serif: var(--font-eb-garamond);
}

/* ensure .link and typography.css are consistent */
.link,
.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--color-link);
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 1px;
  & code {
    font-weight: var(--font-weight-semibold);
  }
}

.dark .link,
.dark
  .prose
  :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--color-dark-link);
  text-decoration-color: var(--color-dark-link);
}
